.SliderBlockExternalWrapper {
  padding: 5px;
}


.SliderBlock {
  display: flex;
  margin-left: 50px;

  padding: 80px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;

  @media (max-width: 700px) {
    padding: 20px;
    
  }
}

.swiper {
  width: 100%;
  position: static !important;

}



.slide {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: move;
  user-select: none;
  width: 400px;
  padding-bottom: 100px;
  transition: opacity 300ms, margin-top 300ms;

  @media (max-width: 700px) {
    width: 200px;

  }

}

.sliderHide {
  opacity: 0;
  margin-top: 10px;
}

.year {
  font-family: Bebas Neue;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #3877EE;

  @media (max-width: 700px) {
    font-size: 16px;
    line-height: 20px;

  }
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  color: #42567A;

  @media (max-width: 700px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.children {
  position: absolute;
  left: -10px;
  bottom: 20px;
  z-index: 1;
}

.title {
  border-bottom: 1px solid #C7CDD9;
  padding-bottom: 20px;
  width: calc(100% - 90px);
  margin: 0 20px 0 73px;
  color: #42567A;
  font-weight: 700;
  font-size: 18px;
  transition: opacity 300ms;
}

.titleHide {
  
  opacity: 0;
}
